body {
    width: 100%;
    height: 100%;
    background-image: url(../img/egg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-wrapper { 
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: column;
}

.img-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-text img {
    border: 2px solid black;
    border-radius: 5px;
}

.img-text p {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.ingredients ul {
font-weight: bold;
font-family: 'Courier New', Courier, monospace;
}

.Directions ol {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}